flafla {
    font-size: 1000px;
}

body {
    background-color: cyan;
}

#img {
    width: 100px;
    text-align: left;
    
}

#text {
    text-align: center;
}

h1 {
    text-align: center;
}

